<div class="main">
    <div class="banner">
        <div>
    		<a href="/product"><img src="/img/banner1.jpg"></a>
        </div>
    </div>
	<div class="sub_section">
		<div class="section">
			<h1 class="section_title">CATEGORY</h1>
		</div>
		<div class="category">
			<section>
				{{#each categories}}
					<div class="container2">
						<div class="category_list">
								<a target="_blank" href="#">
								<img src="{{this.image}}" alt="{{this.title}}">
								</a>
						</div>
					</div>
				{{/each}}
			</section>
		</div>
	</div>
	<div class="sub_section">
		<div class="bestseller">
			<section>
				{{#each bestsellers}}
					<div class="container">
						<div class="col3_list">
								<a target="_blank" href="#">
								<img src="{{this.image}}" alt="{{this.title}}">
								</a>
								<div class="price_d">{{this.price}}</div>
								<div class="title_d">{{this.title}}</div>
								<div class="category_d">{{this.category}}</div>
						</div>
					</div>
				{{/each}}
			</section>
		</div>
	</div>
</div>