<div class="j-container j-padding-32" id="home">
        <div class="j-row-padding">
    		<a href="/product"><img src="/img/banner.jpg" style="width:100%"></a>
        </div>
			<h3 class="j-border-bottom j-border-light-grey j-padding-16">CATEGORY</h3>
				<section class="j-row-padding">
						{{#each categories}}
							<div class="j-col l3 m6 j-margin-bottom">
										<div class="j-display-container">
												<div class="j-display-topleft j-dark-grey j-padding">{{this.category}}</div>
												<a target="_blank" href="#"><img src="{{this.image}}" alt="{{this.title}}" style="width:98%"></a>
											</div>
									</div>
						{{/each}}
				</section>
			<h3 class="j-border-bottom j-border-light-grey j-padding-16">BEST SELLER</h3>
				<section class="j-row-padding">
					{{#each bestsellers}}
						<div class="j-col l3 m6 j-margin-bottom">
									<div class="j-display-container">
											<div class="j-display-topleft j-black j-padding">{{this.category}}</div>
											<a target="_blank" href="#"><img src="{{this.image}}" alt="{{this.title}}" style="width:95%"></a>
											<div>{{this.title}}</div>
											<div>{{this.price}}</div>
										</div>
						</div>
					{{/each}}
				</section>
</div>