<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>

<div>
    <a href="/product/list">Product Dashboard </a>
</div>

 <div class="breadcrumb_iner">
    <h3 style="color: rgb(190, 126, 42);">Hello {{name}}</h3>
    <h3 style="color: rgb(180, 126, 54), 53);">Your email: {{email}}</h3>
    <a href="/login/addproduct" class="btn_3" style="background-color:rgb(158, 62, 62);transition: all 9.5s ease;">Add Product</a>
    <a href="/login/addproductCate" class="btn_3" style="background-color:rgb(158, 62, 62);transition: all 9.5s ease;">Add Product Category</a>
    <a href="/login/logout" class="btn_3" style="background-color:rgb(182, 42, 42);transition: all 9.5s ease;">Logout</a>
</div>


<!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <h4>Your inventory: ({{totalproduct}}) items</h4>
              {{#each product_list}}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/img/{{this.product_picture}}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{this.product_name}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>{{this.product_price}}</h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="{{this.product_quantity}}" min="0" max="9">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <form class="row contact_form" action="/login/clerkrequest/{{_id}}" method="post" style="display: inline-block;">
                          <button type="submit" value="submit" class="btn_3">
                          edit
                        </button>
                    </form>
                </td>
                <td>
                  <form class="row contact_form" action="/login/clerkdelete/{{_id}}" method="post" style="display: inline-block;">
                        <button type="submit" value="submit" class="btn_3" style="color: red;">
                          delete
                        </button>
                    </form>
                </td>

              </tr>
             {{/each}}
            
              <tr>
                <td></td>
                <td></td>
                <td></td>

                <td>
                  <h5>Subtotal</h5>
                </td>
                <td style="text-align: right;">
                  <h5>${{totalbill}}</h5>
                </td>
              </tr>
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h5>Shipping</h5>
                </td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Free Shipping
                        <input type="radio" checked aria-label="Radio button for following text input">
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </section>