<div class="j-container j-padding-32" id="login">
    <h3 class="j-border-bottom j-border-light-grey j-padding-head">Sign-in</h3>
    <!--This will only show if the successMessage was injected into the view -->
    <div>{{successMessage}}</div>
        <section>
            <form action="/user/login" method="POST">

                <label for="email">Email</label><br><br>
                <input class="j-input j-border" type="text" id="email" name="email" value="{{emailValue}}"> <br>
                <!-- Will only show if the errors array exists-->
                    {{#each errorEmail}}
                        <div>{{this}}</div>
                    {{/each}}
                    
                <label for="password">PassWord</label><br>
                <input class="j-input j-section j-border" type="password" placeholder="At least 6 characters" name="password" value="{{passwordValue}}"><br><br>
                <p>Passwords must consist of at least 6 characters.</p>
                <!-- Will only show if the errors array exists-->
                    {{#each errorPassword}}
                        <div>{{this}}</div>
                    {{/each}}
                    {{#each errors}}
                        <div>{{this}}</div>
                    {{/each}}
                <input class="j-input j-section j-border" type="submit" value="Login">
            </form>
            <form action="/user/register" method="get" target="_blank">
                <input class="j-input j-section j-border" type="submit" value="Create your Amazon account">
            </form>
        </section>
</div>
<div>
