<div class="j-container j-padding-32" id="register">
    <h3 class="j-border-bottom j-border-light-grey j-padding-head">Create account</h3>
    <!--This will only show if the successMessage was injected into the view -->
    <div>{{successMessage}}</div>
<section>
    <form action="/user/register" method="POST">

        <label for="firstName">Your first Name</label>
        <input class="j-input j-border" type="text" id="firstName" name="firstName" value="{{firstNameValue}}"> <br>
        <!-- Will only show if the errors array exists-->
                    {{#each errorfirstName}}
                    <div>{{this}}</div>
                    {{/each}}

        <label for="lastName">Your last Name</label>
        <input class="j-input j-border" type="text" id="lastName" name="lastName" value="{{lastNameValue}}"> <br>
        <!-- Will only show if the errors array exists-->
                    {{#each errorlastName}}
                    <div>{{this}}</div>
                    {{/each}}

        <label for="email">Email</label>
        <input class="j-input j-section j-border" type="email" id="email" name="email" value="{{emailValue}}"> <br>
        <!-- Will only show if the errors array exists-->
                    {{#each errorEmail}}
                    <div>{{this}}</div>
                    {{/each}}

        <label for="password">Password</label>
        <input class="j-input j-section j-border" type="password" placeholder="Enter Password" name="password" id="password"  value="{{passwordValue}}"><br>
        <!-- Will only show if the errors array exists-->
                    {{#each errorPassword}}
                    <div>{{this}}</div>
                    {{/each}}
        <p>Passwords must consist of at least 6 characters.</p>

        <label for="cpassword">Password again</label>
        <input class="j-input j-section j-border" type="password" placeholder="Enter Password" name="cpassword" id="cpassword" value="{{cpasswordValue}}"><br>
        <!-- Will only show if the errors array exists-->
                    {{#each errorCpassword}}
                    <div>{{this}}</div>
                    {{/each}}

        <input class="j-input j-section j-border" type="submit" value="Create your Amazon account">
        <p>By creating an account, you agree to Amazon's Conditions of Use and Privacy Notice.</p>

    </form>
    <p>Already have an account? <a href="/login">Sign in</a></p>
</section>
</div>