<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>

<div>
    <a href="/product/list">Product Dashboard </a>
</div>

<div class="breadcrumb_iner">
    <h3 style="color: rgb(201, 156, 99);">Hello {{name}}</h3>
    <a href="/login/logout" class="btn_3" style="background-color:white;">Logout</a>
</div>

  <!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <h4>Your inventory: ({{totalproduct}}) items</h4>
              {{#each product_list}}
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/img/{{this.p_Pic}}" alt="" />
                    </div>
                    <div class="media-body">
                      <p>{{this.p_name}}</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>${{this.p_price}}</h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="{{this.p_quantity}}" min="0" max="9">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>

                <td>
                  <form class="row contact_form" action="/login/userdelete/{{_id}}" method="post" style="display: inline-block;">
                        <button type="submit" value="submit" class="btn_3" style="color: red;">
                          delete
                        </button>
                    </form>
                </td>

              </tr>
             {{/each}}
            
              <tr>
                <td></td>
                <td></td>

                <td>
                  <h5>Subtotal</h5>
                </td>
                <td style="text-align: right;">
                  <h5>${{totalbill}}</h5>
                </td>
              </tr>
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
                  <h5>Shipping</h5>
                </td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Free Shipping
                        <input type="radio" checked aria-label="Radio button for following text input">
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/product">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="/login/checkout">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>