<div class="j-container j-padding-32">
    <h3 class="j-border-bottom j-border-light-grey j-padding-head">Product Dashboard</h3>
        
        <section>
            <form method="POST" action="/product/list" >
                <label>Search By</label>
                    <select name="category">
                        <option selected value="all">All</option>
                        <option name="Shop Valentine's Day gifts" value="Shop Valentine's Day gifts">Shop Valentine's Day gifts</option>
                        <option name="Cleaning supplies" value="Cleaning supplies">Cleaning supplies</option>
                        <option name="Shop deals in Tools" value="Shop deals in Tools">Shop deals in Tools</option>
                        <option name="Smart home" value="Smart home">Smart home</option>
                    </select>
                        <input type="submit" value="Search">
            </form> <br><br>

                <div class="j-row-padding">
                    {{#each data}}
                            <div class="j-col l4 m6 j-margin-bottom">
                                <div class="j-display-container">
                                    <div class="j-display-topleft j-black j-padding">{{this.category}}</div>
                                    <a href="/product/detail/{{this.id}}"> <img src="/upload/{{this.productPic}}" alt="{{this.name}}" style="width:60%"></a>
                                    <div>{{this.name}}</div>
                                    <div>{{this.price}}</div>
                                </div>
                            </div>
                    {{/each}}
                </div>
        