<div class="j-container j-padding-32" id="product">
  <h3 class="j-border-bottom j-border-light-grey j-padding-head">Update Product</h3>
</div>
    <section>

        <form method="POST" action="/Product/edit/{{_id}}?method=PUT" enctype="multipart/form-data">

            <label>Product Name</label>
            <input type="text" name="name" id="name" value="{{name}}"> <br><br>

            <label>Product Price</label>
            <input type="text" name="price" id="price" value="{{price}}"> <br><br>

            <label>Description</label> <br>
            <input type="text" name="description" value="{{description}}"><br><br>

            <label>Product quantity</label>
            <input type="text" name="quantity" id="quantity" value="{{quantity}}"> <br><br>


            <img src="/img/{{productPic}}" alt={{productPic}}>
            <label>Image Update</label>
            <input type="file" name="productPic" id="productPic"> <br><br>

            <label>Category</label><br>
            <select name="category">
                <option value="Shop Valentine's Day gifts" value="Shop Valentine's Day gifts">Shop Valentine's Day gifts</option>
                <option value="Cleaning supplies" value="Cleaning supplies">Cleaning supplies</option>
                <option value="Shop deals in Tools" value="Shop deals in Tools">Shop deals in Tools</option>
                <option value="Smart home" value="Smart home">Smart home</option>
            </select>
            <br><br>

            <label>Best seller</label>
            <select name="bestseller">
                    <option value="true">Yes</option>
                    <option selected value="false">No</option>
            </select>
            <br><br>
            <input type="submit" value="Update product">

        </form>
    </section>